.menu{
  list-style: none;
  padding: 0;
  background: #10004f;
  width: 100%;

}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
}


.menu li a:hover{
  background: rgba(255,255,255, 0.2);
}
