<div class="search-box">
  <section class="search-options" name="roundOption">
    <select>
      <option>Ida y vuelta</option>
      <option>Ida y vuelta</option>
    </select>
    <select>
      <option>Económica</option>
      <option>Premium</option>
    </select>
    <label for="passengersNumber">Cantidad de pasajeros</label>
    <input type="number" id="passengersNumber" name="passengersNumber" />
  </section>
  <section>
    <input type="text" placeholder="Origen" />
    <input type="text" placeholder="Destino" />
    <label for="travelDate"> Ida </label>
    <input type="date" id="travelDate" />
    <label for="returnDate"> Regreso </label>
    <input type="date" id="returnDate" />
    <button class="primary">Buscar</button>
  </section>
</div>
