<div class="search-box">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <section class="search-options" name="roundOption">
      <select (change)="onRoundType()" formControlName="roundType">
        <option>Ida y vuelta</option>
        <option>Solo ida</option>
      </select>
      <select formControlName="type">
        <option>Económica</option>
        <option>Premium</option>
      </select>
      <label for="passengersNumber">Cantidad de pasajeros</label>
      <input type="number" id="passengersNumber" name="passengersNumber" formControlName="passengersNumber">
    </section>
    <section>
      <input type="text" placeholder="Origen" formControlName="from"/>
      <input type="text" placeholder="Destino" formControlName="to"/>
      <label for="travelDate"> Ida </label>
      <input type="date" id="travelDate" formControlName="travelDate"/>
      <label for="returnDate" *ngIf="isRoundTrip"> Regreso </label>
      <input type="date" id="returnDate" *ngIf="isRoundTrip" formControlName="returnDate"/>
      <button class="primary" type="submit" >Buscar</button>
    </section>
  </form>
</div>
